<header class="main-header">
  <nav class="nav main-nav">
    <ul>
      <li><a href="/">Live Game</a></li>
      <li><a href="leaderboard">Leaderboard</a></li>
      <li><a href="tips">Tips</a></li>
      <li><a href="profile">Profile</a></li>
    </ul>
  </nav>
</header>
